<div class="flex-col">
  <div class="message">
    <h2 class="welcome-msg">Welcome <%=user.username%>!</h2>
    <h3 class="cta">Create folders and upload files into your cloud.</h3>
  </div>
  <div class="upload-wrapper">
    <a href="/upload" class="upload"><i class="fas fa-plus"></i>New File</a>
    <a href="/folders/new" class="upload"><i class="fas fa-plus"></i>New Folder</a>
  </div>
</div>
<div class="home">
  <div class="nav">
    <a href="/home"><h3>Home</h3></a>
    <a href="/folders"><h3>Folders</h3></a>
    <div class="folders">
      <%folders.forEach((folder) => {%>
      <a href="/folders/<%=folder.id%>"><i class="fas fa-folder"></i><%=folder.name%></a>
      <%})%>
    </div>
  </div>
  <div class="files-wrapper">
    <%if (folder) {%>
    <div class="folder-name">
      <h1><%=folder.name%></h1>
      <a href="/folders/update/<%=folder.id%>"><i class="fas fa-pen"></i></a>
      <a href="/folders/delete/<%=folder.id%>"><i class="fas fa-trash"></i></a>
    </div>
    <%} else {%>
    <h1><%=section%></h1>
    <%}%>
    <div class="files">
      <div class="file-headings file-row">
        <div class="heading">Name</div>
        <div class="heading">Owner</div>
        <div class="heading">Created</div>
        <div class="heading">Actions</div>
      </div>
      <%files.forEach((file) => {%>
      <div class="file-link">
        <div class="file file-row">
          <a class="name" href="<%= download ? '/details/' + file.id : '/folders/' + file.id%>"
            ><%=file.name%></a
          >
          <div class="owner"><%=user.username%></div>
          <div class="date-uploaded"><%=file.createdAt.toISOString().split('T')[0]%></div>
          <div class="actions">
            <%if (download) {%>
            <a href="/download/<%=file.id%>"><i class="fas fa-download"></i></a>
            <%}%>
            <a href="/delete/<%=file.id%>"><i class="fas fa-trash"></i></a>
          </div>
        </div>
      </div>
      <%})%>
    </div>
  </div>
</div>
